@import './common';
@import './example';

.error {
    color: red;
}

.card, .breed-select {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.description {
    font-size: 28px;
    padding: 20px;
    width: 800px;
}